
<head>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>
<body>
    <!-- QUICK NAVS-->
    <div>
        <center>
            <h3 style="color:navy; font-weight:bold;">@Model.AzurePark.ParkName</h3>
            <br />


            <nav>
                <a class="btn btn-light" href="#Amenities" style="button">Amenities</a>
                <a class="btn btn-light" href="#Hours">Hours</a>
                <a class="btn btn-light" href="#CalendarEvents">Calendar Events</a>
            </nav>
        </center>
    </div>
    <br />

    <!-- START OF CAROUSEL -->

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @{
                int count = 0;
            }
            @foreach (string image in Model.AzureParkImages.ImagesPaths)
            {

                if (count == 0)
                {
                    <li data-target="#carouselExampleIndicators" data-slide-to=@count class="active"></li>
                }
                else
                {
                    <li data-target="#carouselExampleIndicators" data-slide-to=@count></li>
                }
                count++;
            }
        </ol>

        <div class="carousel-inner">
            @{
                int c = 0;
            }

            @foreach (string image in Model.AzureParkImages.ImagesPaths)
            {
                if (c == 0)
                {
                    <div class="carousel-item active">
                        <img class="d-block w-100" src=@Url.Content(image) alt="First slide" height="570" />
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        <img class="d-block w-100" src=@Url.Content(image) alt="Second slide" height="570" />
                    </div>
                }
                c++;
            }

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- END OF CAROUSEL -->
    <!-- START OF PARK AMENITIES-->
    <br />
    <br />
    <br />

    <div>
        <left>
            <text style="color:black;">Address: </text>
            <text style="color:navy; font-weight:bold;">@Model.AzurePark.Address</text>
            <br />
            <text style="color:black;">Phone Number:</text>
            <text style="color:navy; font-weight:bold;">@Model.AzurePark.FacilityPhone</text>
            <!--


                <h5 style="color:navy; font-weight:bold;">Phone Number: Unavailable</h5>



                <h5 style="color:navy; font-weight:bold;"></h5>

            -->
            <br />

        </left>
    </div>


    <div>
        <center>
            <h4 id="Amenities" style="color:navy; font-weight:bold;">Special Event Amenities</h4>
            <br />

        </center>
        <div class="row">

            @foreach (Parks_SpecialEvents.Models.Amenity amenity in Model.Amenitys)
            {
                <div class="col col-2">
                    <center>
                        <img width="150" height="100" src=@Url.Content(amenity.Image) />
                        <strong>@amenity.Amen</strong>
                        <br />
                    </center>
                </div>
            }
        </div>
    </div>

    <!-- END OF PARK AMENITIES-->
    <!--The div element for the map -->


    @if ((Model.AzurePark.Lat != 0) && (Model.AzurePark.Lng != 0))
    {
        <div id="map"></div>
        <script>
        // Initialize and add the map
        function initMap() {
          // The location of Uluru
          var uluru = {lat: @Model.AzurePark.Lat, lng: @Model.AzurePark.Lng};
          // The map, centered at Uluru
          var map = new google.maps.Map(
              document.getElementById('map'), {zoom: 15, center: uluru});
          // The marker, positioned at Uluru
          var marker = new google.maps.Marker({position: uluru, map: map});
        }
        </script>
        <!--Load the API from the specified URL
        * The async attribute allows the browser to render the page while the API loads
        * The key parameter will contain your own API key (which is not needed for this tutorial)
        * The callback parameter executes the initMap() function
        -->
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=@ViewData["api_key"]&callback=initMap"></script>

    }

    <!-- PARK EVENTS -->
    <div>
        <center>
            <h5 style="color:black; font-weight:bold;">Upcoming events at @Model.AzurePark.ParkName!</h5>
            <br />
        </center>
    </div>



    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col"></th>
                <th scope="col">Event Name</th>
                <th scope="col">Time</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Movies in the Park</td>
                <td>7:00pm - 11:00pm</td>
                <td>6/20/2020</td>
                <td>6/22/2020</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>North Central Animal Shelter Adoption Day</td>
                <td>9:00am - 6:00pm</td>
                <td>7/12/2020</td>
                <td>7/13/2020</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Electronic Music Concert</td>
                <td>1:00pm - 11:00pm</td>
                <td>8/3/2020</td>
                <td>8/6/2020</td>
            </tr>
        </tbody>
    </table>

    <!-- GOOGLE CALENDAR -->
    <!--
    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=cWg0YzYyMThscm12bzkwcjM3ZnBiajRyaW9AZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23A87070&amp;color=%231F753C" style="border: solid 1px #777" width="1100" height="800" frameborder="0" scrolling="no"></iframe>
    -->
</body>

@*<form asp-controller="Park" asp-action="RouteAsync" asp-route-address=@ViewBag.store.Address>
        <input type="submit" class="btn btn-success" value="Lets Go!"/>
    </form>*@










