@{
    ViewBag.Title = "Index Page";
}


<h2>Form Page One</h2>

<strong>InsurerRole</strong> : @ViewData["InsurerRole"]
<br />
<strong>NameInsured</strong> : @ViewData["NameInsured"]
<br />
<strong>Dba</strong> : @ViewData["Dba"]
<br />
<strong>MailingAddress</strong> : @ViewData["MailingAddress"]
<br />
<strong>City</strong> : @ViewData["City"]
<br />
<strong>State</strong> : @ViewData["State"]
<br />
<strong>Zipcode</strong> : @ViewData["Zipcode"]
<br />
<strong>ContactPerson</strong> : @ViewData["ContactPerson"]
<br />
<strong>Email</strong> : @ViewData["Email"]
<br />
<strong>HomeNumber</strong> : @ViewData["HomeNumber"]
<br />
<strong>BusinessNumber</strong> : @ViewData["BusinessNumber"]
<br />
<strong>Fax</strong> : @ViewData["Fax"]
<br />
<strong>Website</strong> : @ViewData["Website"]
<br />

<h2>Form Page Two</h2>

<strong>EventName</strong> : @ViewData["EventName"]
<br />
<strong>Date</strong> : @ViewData["Date"]
<br />
<strong>BegTime</strong> : @ViewData["BegTime"]
<br />
<strong>EndTime</strong> : @ViewData["EndTime"]
<br />
<strong>AttendenceCount</strong> : @ViewData["AttendenceCount"]
<br />
<strong>AlcoholBeverages</strong> : @ViewData["AlcoholBeverages"]
<br />
<strong>EventDetails</strong> : @ViewData["EventDetails"]
<br />
<strong>NamedInsuredRole</strong> : @ViewData["NamedInsuredRole"]
<br />
<strong>EventPrivacy</strong> : @ViewData["EventPrivacy"]
<br />
<strong>AdmissionCharge</strong> : @ViewData["AdmissionCharge"]
<br />
<strong>Donation</strong> : @ViewData["Donation"]
<br />
<strong>Seating</strong> : @ViewData["Seating"]
<br />
<strong>Security</strong> : @ViewData["Security"]
<br />
<strong>FirstAide</strong> : @ViewData["FirstAide"]
<br />
<strong>ADA</strong> : @ViewData["Ada"]
<br />
<strong>Advertisement</strong> : @ViewData["Advertisement"]
<br />
<strong>Alcohol</strong> : @ViewData["Alcohol"]
<br />
<strong>RecreationalActivity</strong> : @ViewData["RecreationalActivity"]
<br />
<strong>Music</strong> : @ViewData["Music"]
<br />
<strong>Activities</strong> : @ViewData["Activities"]
<br />