@model EFGetStarted.AspNetCore.NewDb.Models.Question

<style>
    .post-content {
        top: 0;
        left: 0;
        position: absolute;
    }

    .thumbnail {
        position: relative;
    }
</style>


<center>
    <h2>Frequently Asked Questions</h2>
</center>
<title>FAQ</title>

<!--
    SEARCH FOR SPECIFIC QUESTION OR TOPIC
-->
<div class="d-flex justify-content-center mt-3">
    <form asp-controller="FAQ" asp-action="Search">
        <strong>Search: </strong>
        <input name="search" />
        <input type="submit" class="btn btn-primary" />
    </form>
</div>

<!--
   PARKS WITH PERMITS TO HOLD SPECIFIC REQUIREMENTS:
    EX. PARKS THAT CAN HOLD ALCOHOL
    OR PARKS THAT CAN HOLD MUSIC FESTIVALS
-->
<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#MultiDayFestivals" role="button" aria-expanded="false" aria-controls="collapseExample">
        Multi Day Festivals
    </a>

    <a class="btn btn-primary" data-toggle="collapse" href="#LargeOutdoorConcerts" role="button" aria-expanded="false" aria-controls="collapseExample">
        Large Outdoor Concerts
    </a>
    <a class="btn btn-primary" data-toggle="collapse" href="#OutdoorConcerts" role="button" aria-expanded="false" aria-controls="collapseExample">
        Outdoor Concerts
    </a>
</p>
<div class="collapse" id="MultiDayFestivals">
    <div class="card card-body">
        <center>
            <h3>Multi Day Festivals > 10K attendance</h3>
        </center>
        <!-- MULTI DAY FESTIVAL PARKS-->
        @foreach (EFGetStarted.AspNetCore.NewDb.Models.Park p in @ViewBag.storeParks.parks)
        {
            @if(p.Permitables == "Multi Day Festivals > 10K attendance") {
                 <div class="thumbnail">
                    <a method="post" asp-controller="Park" asp-action="ParkAsync" asp-route-address=@p.Address>
                    <img height="300" width="450" src=@p.Image />
                    </a>
                    <div class="caption post-content">
                    <h3 style="color: white;">@p.Address</h3>
                    </div>
                </div>
            }
        }

    </div>
</div>
<div class="collapse" id="LargeOutdoorConcerts">
    <div class="card card-body">
        <center>
            <h3>Large Outdoor Concerts > 5K Attendance</h3>
        </center>
        <!-- LARGE OUTDOOR CONCERTS > 5K PARKS-->
         @foreach (EFGetStarted.AspNetCore.NewDb.Models.Park p in @ViewBag.storeParks.parks)
        {
            @if(p.Permitables == "Large Outdoor Concerts > 5K Attendance") {
                 <div class="thumbnail">
                    <a method="post" asp-controller="Park" asp-action="ParkAsync" asp-route-address=@p.Address>
                    <img height="300" width="450" src=@p.Image />
                    </a>
                    <div class="caption post-content">
                    <h3 style="color: white;">@p.Address</h3>
                    </div>
                </div>
            }
        }
    </div>
</div>
<div class="collapse" id="OutdoorConcerts">
    <div class="card card-body">
        <center>
            <h3>Outdoor Concerts < 2K attendance</h3>
        </center>

        <!-- OUTDOOR CONCERTS < 2K PARKS-->
        @foreach (EFGetStarted.AspNetCore.NewDb.Models.Park p in ViewBag.storeParks.parks)
        {
            @if (p.Permitables == "Outdoor Concerts < 2K attendance")
            {
                <div class="thumbnail">
                    <a asp-controller="Park" asp-action="ParkAsync" asp-route-address=@p.Address>
                        <img height="300" width="450" src=@p.Image />
                    </a>
                    <div class="caption post-content">
                        <h3 style="color: white;">@p.Address</h3>
                    </div>
                </div>
            }
        }

    </div>
</div>



<!--
    DISPLAY ALL QUESTIONS:
     SINCE THIS IS THE INDEX PAGE
-->

<div class="containter">
    <div class="row">
        @{int counter = 1;}
        @foreach (EFGetStarted.AspNetCore.NewDb.Models.Question i in @ViewBag.storing.questions)
        {
            <div class="col-sm-4 py-2">
                <div id="accordion">
                    <div class="card">
                        @{
                            string c = counter.ToString();
                            string dataTarget = "#collapse" + c;
                            string idForCollapse = "collapse" + c;
                            string heading = "heading" + c;
                        }
                        <div class="card-header" id=@heading>
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target=@dataTarget aria-expanded="true" aria-controls=@idForCollapse>
                                    @i.Q
                                </button>
                            </h5>
                        </div>

                        <div id=@idForCollapse class="collapse hide" aria-labelledby=@heading data-parent="#accordion">
                            <div class="card-body">
                                @i.Answer
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            counter++;
        }
    </div>
</div>

<!-- CONTACT INFORMATION-->
<address>
    <strong>
        <a href="mailto:EMAIL@gmail.com">Contact</a>
    </strong>
</address>

