
<h1>Select Question</h1>

<form asp-controller="Admin" asp-action="SelectQuestion">
    <button type="submit" class="btn btn-dark" asp-route-s="ALL">All</button>
    <button type="submit" class="btn btn-dark" asp-route-s="ACTIVE" >Active</button>
    <button type="submit" class="btn btn-dark" asp-route-s="FLAGGED">Flagged</button>
    <br />
</form>
<br />

<a asp-controller="Admin" asp-action="AddQuestionRazor">Add Question</a>  <br />
<br />
<!-- ALL QUESTIONS -->
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">Question</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.show.Equals("ALL"))
    {
        Console.WriteLine("QUESTIONS: ALL");
        @foreach (Question question in ViewBag.QDB.questions)
    {
        <tr>
            <th scope="row">@question.ID</th>
            <td>@question.Q</td>
            <td><a asp-controller="Admin" asp-action="EditQuestionRazorPage" asp-route-id="@question.ID">Edit</a></td>
        </tr>
}
}

        @if (ViewBag.show == "ACTIVE")
    {
        Console.WriteLine("QUESTIONS: ACTIVE");
        @foreach (Question question in ViewBag.QDB.questions)
        {
            if(question.Flag == true) {
                <tr>
                    <th scope="row">@question.ID</th>
                    <td>@question.Q</td>
                    <td><a asp-controller="Admin" asp-action="EditQuestionRazorPage" asp-route-id="@question.ID">Edit</a></td>
                </tr>
            }
        }
    }

        @if (ViewBag.show == "FLAGGED")
    {
        Console.WriteLine("QUESTIONS: FLAGGED");
             @foreach (Question question in ViewBag.QDB.questions)
        {
            if(question.Flag == false) {
                <tr>
                    <th scope="row">@question.ID</th>
                    <td>@question.Q</td>
                    <td><a asp-controller="Admin" asp-action="EditQuestionRazorPage" asp-route-id="@question.ID">Edit</a></td>
                </tr>
            }
        }
    }

    </tbody>
</table>