
<h1>Select Question</h1>

<div class="container">
    <form asp-controller="Admin" asp-action="SelectQuestion">
        @if (ViewBag.show == "ALL")
    {
        <button type="submit" class="btn btn-dark" asp-route-s="ALL">All</button>
}
else
{
    <button type="submit" class="btn btn-light" asp-route-s="ALL">All</button>
}

        @if (ViewBag.show == "ACTIVE")
    {
        <button type="submit" class="btn btn-dark" asp-route-s="ACTIVE">Active</button>
}
else
{
    <button type="submit" class="btn btn-light" asp-route-s="ACTIVE">Active</button>
}

        @if (ViewBag.show == "FLAGGED")
    {
        <button type="submit" class="btn btn-dark" asp-route-s="FLAGGED">Flagged</button>
}
else
{
    <button type="submit" class="btn btn-light" asp-route-s="FLAGGED">Flagged</button>
}
<a class="btn btn-light" asp-controller="Admin" asp-action="AddQuestionRazor">Add Question</a>

<br />
</form>
    
</div>

<br />
<!-- ALL QUESTIONS -->
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">Question</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.show.Equals("ALL"))
    {
        Console.WriteLine("QUESTIONS: ALL");
        @foreach (Question question in ViewBag.QDB.questions)
    {
        <tr>
            <th scope="row">@question.ID</th>
            <td>@question.Q</td>
            <td>
                <a asp-controller="Admin" asp-action="EditQuestionRazorPage" asp-route-id="@question.ID">Edit</a> |
                <a asp-controller="Admin" asp-action="DeleteQuestionRazorConfirmation" asp-route-id="@question.ID">Delete</a>
            </td>
        </tr>
}
}

        @if (ViewBag.show == "ACTIVE")
    {
        Console.WriteLine("QUESTIONS: ACTIVE");
        @foreach (Question question in ViewBag.QDB.questions)
        {
            if(question.Flag == true) {
        <tr>
            <th scope="row">@question.ID</th>
            <td>@question.Q</td>
            <td>
                <a asp-controller="Admin" asp-action="EditQuestionRazorPage" asp-route-id="@question.ID">Edit</a> |
                <a asp-controller="Admin" asp-action="DeleteQuestionRazorConfirmation" asp-route-id="@question.ID">Delete</a>
            </td>
        </tr>
            }
        }
    }

        @if (ViewBag.show == "FLAGGED")
    {
        Console.WriteLine("QUESTIONS: FLAGGED");
        @foreach (Question question in ViewBag.QDB.questions)
        {
            if(question.Flag == false) {
        <tr>
            <th scope="row">@question.ID</th>
            <td>@question.Q</td>
            <td>
                <a asp-controller="Admin" asp-action="EditQuestionRazorPage" asp-route-id="@question.ID">Edit</a> |
                <a asp-controller="Admin" asp-action="DeleteQuestionRazorConfirmation" asp-route-id="@question.ID">Delete</a>
            </td>
        </tr>
            }
        }
    }

    </tbody>
</table>